<script>
    $(".button-edit").click(function(){
        var pk = $(this).data('pk');
        var product = get_data_product(pk);
        $("#td_code_" + pk).html('<input id="id_code_' + pk + '" maxlength="25" name="code' + pk + '" type="text" value="' + product.code + '">');
        $("#td_name_" + pk).html('<input id="id_name_' + pk + '" maxlength="150" name="name' + pk + '" type="text" value="' + product.name + '">');
        $("#td_quantity_" + pk).html('<input id="id_quantity_' + pk + '" min="0" name="quantity'+ pk + '" type="number" value="' + product.quantity + '">');

{#        inputs += '<td>' + product.create +'</td>';#}
{#        var buttons = '<td><button data-pk="' + pk + '" class="button-edit" id="btn_edit_' + pk + '" type="button" style="display: none">edit</button>';#}
{#        buttons += '<button data-pk="' + pk + '" class="button-save" id="btn_save_' + pk + '" type="button">save</button>';#}
{#        buttons += '<button data-pk="' + pk + '" class="button-cancel" id="btn_cancel_' + pk + '" type="button">cancel</button></td>';#}
{#        console.log(inputs + buttons);#}
{#        $('#col_prod_' + pk).html(inputs + buttons);#}

        $('.button-edit').hide();
        $('#btn_save_' + pk ).show();
        $('#btn_cancel_' + pk).show();
    });

    $(".button-cancel").click(function(){
        var pk = $(this).data('pk');
        var product = get_data_product(pk);



        $('.button-edit').show();
        $('.button-cancel').hide();
        $('.button-save').hide();

        $("#td_code_" + pk).html(product.code);
        $("#td_name_" + pk).html(product.name);
        $("#td_quantity_" + pk).html(product.quantity);
    });

    $(".button-save").click(function(){
        var pk = $(this).data('pk');
        var _product = get_data_product(pk);
        var params = {action: 'save', pk: pk, code: $('#id_code_' + pk).val(), name: $('#id_name_' + pk).val(),
            quantity: $('#id_quantity_' + pk).val(),
        }

        $.ajax({
            url: "{% url 'catalog_products' %}",
            method: 'GET',
            data: params,
            success: function(data, textStatus,jqXHR ){
                if (data.update==200){
                    $('#col_prod_' + pk).data('code',params.code);
                    $('#col_prod_' + pk).data('name',params.name);
                    $('#col_prod_' + pk).data('quantity',params.quantity);
                    $("#td_code_" + pk).html(params.code);
                    $("#td_name_" + pk).html(params.name);
                    $("#td_quantity_" + pk).html(params.quantity);
                    $('.button-edit').show();
                    $('.button-cancel').hide();
                    $('.button-save').hide();

                }else if (data.update==500){
                    alert('uno o mas campos incorrectos, verifique.')
                }
            }

        })


    });

    $(".button-search").click(function(){
        var params = {action: 'filter', filter: $('#filter').val()}
        search_product(params)

    });

    $(".button-clear-filter").click(function(){
        var params = {action: 'filter', filter: ''};
        filter: $('#filter').val('');
        search_product(params)

    });

    function search_product(params){
        $.ajax({
            url: "{% url 'catalog_products' %}",
            method: 'GET',
            data: params,
            success: function(data, textStatus,jqXHR ){
                $('#tb_products').html(data.html);
            }

        })
    };

    function get_data_product(pk){
        var _tr = $('#col_prod_' + pk);
        var _data = {pk: _tr.data('pk'),code: _tr.data('code'), name: _tr.data('name'),
                    quantity: _tr.data('quantity'), create: _tr.data('create')};
        return _data
    }


</script>