{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-10 col-lg-offset-1">
            <form class="form-inline" method="post">
              {% csrf_token %}
              <div class="form-group">
                <label for="code">Codigo</label>
                  {{ form.code }}

{#                <input type="text" class="form-control" id="code" placeholder="codigo">#}
              </div>
              <div class="form-group">
                <label for="name">Nombre</label>
                  {{ form.name }}
{#                  <input type="email" class="form-control" id="name" placeholder="Nombre producto">#}

              </div>

              <div class="form-group" style="max-width: 350px">
                <label for="quantity">Cantidad</label>
                  {{ form.quantity }}
{#                  <input type="email" class="form-control" id="quantity" placeholder="cantidad">#}
              </div>
              <button type="submit" class="btn btn-primary">Add</button>
            </form>
            {% if form.code.errors %}

                    {% for error in form.code.errors %}
                        <div class="alert alert-danger fade in">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                            <strong>Codigo </strong>{{ error }}.
                        </div>
                    {% endfor %}

            {% endif %}
            {% if form.name.errors %}

                    {% for error in form.name.errors %}
                        <div class="alert alert-danger fade in">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                            <strong>Nombre </strong>{{ error }}.
                        </div>
                    {% endfor %}

            {% endif %}

            {% if form.quantity.errors %}

                    {% for error in form.quantity.errors %}
                        <div class="alert alert-danger fade in">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                            <strong>Cantidad </strong>{{ error }}.
                        </div>
                    {% endfor %}

            {% endif %}
        </div>
        <div class="col-md-10 col-lg-offset-1">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Catalogo de productos</legend>
                <form class="form-inline" method="post">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="code">Filtrar</label>
                    <input type="text" class="form-control" id="filter" placeholder="Filtrar por codigo o nombre">
                  </div>
                   <button type="button" class="btn btn-primary button-search">Search</button>
                   <button type="button" class="btn btn-primary button-clear-filter">Clear</button>
                </form>
                <table class="table">
                  <thead>
                    <tr>
                      <th>Codigo</th>
                      <th>Nombre</th>
                      <th>Cantidad</th>
                      <th>creado</th>
                      <th>actions</th>
                    </tr>
                  </thead>
                  <tbody id="tb_products">
                    {% for product in products %}
                        <tr id="col_prod_{{ product.pk }}" data-pk="{{ product.pk }}" data-code="{{ product.code }}"
                                data-name="{{ product.name }}" data-quantity="{{ product.quantity }}"
                                data-create="{{ product.create }}">
                          <td id="td_code_{{ product.pk }}">{{ product.code }}</td>
                          <td id="td_name_{{ product.pk }}">{{ product.name }}</td>
                          <td id="td_quantity_{{ product.pk }}">{{ product.quantity }}</td>
                          <td id="td_create_{{ product.pk }}">{{ product.create }}</td>
                          <td id="td_buttons_{{ product.pk }}"><button data-pk="{{ product.pk }}" class="button-edit" id="btn_edit_{{ product.pk }}" type="button">edit</button>
                          <button data-pk="{{ product.pk }}" class="button-save" id="btn_save_{{ product.pk }}" type="button" style="display: none">save</button>
                          <button data-pk="{{ product.pk }}" class="button-cancel" id="btn_cancel_{{ product.pk }}" type="button" style="display: none">cancel</button></td>
                        </tr>
                    {% endfor %}
                    {% include 'catalog_extend.html' %}
                  </tbody>
              </table>
            </fieldset>

        </div>
    </div>

{% endblock %}

