{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">

    <link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />
    <title>Real Trend Test</title>

    <link href="{% static 'css/metro.css' %}" rel="stylesheet">
    <link href="{% static 'css/metro-icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/metro-responsive.css' %} "rel="stylesheet">

    <script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'js/metro.js' %}"></script>



</head>
<body>
    <div>
        <header class="app-bar fixed-top navy" data-role="appbar" style="background:#2d3277">
            <div class="container">
                <a href="/" class="app-bar-element branding"><img src="{% static 'img/mercadolibre2.png' %}" style="height: 28px; display: inline-block; margin-right: 10px;"> Real Trend test</a>
                {% if is_auth %}
                <ul class="app-bar-menu small-dropdown">
                    <li>
                        <a href="#" class="dropdown-toggle">Mis productos</a>
                        <ul class="d-menu" data-role="dropdown" data-no-close="true">
                            <li><a href="{% url 'publications_category_select' %}">Mis publicaciones</a></li>
                        </ul>
                    </li>

                </ul>
                 <span class="app-bar-pull"></span>
                <ul class="app-bar-menu small-dropdown place-right">
                    <li>
                        <a href="#" class="dropdown-toggle"><span class="mif-user icon"></span> {{ user.nickname }}</a>
                        <ul class="d-menu" data-role="dropdown" data-no-close="true">
                            <li><a href="#">Cerrar sesion</a></li>
                        </ul>
                    </li>

                </ul>
                {% endif %}


            </div>
        </header>

    </div>
    <div class="page-content">
        <div class=" fg-white align-center">
            <div class="container">
                {% block content %}

                {% endblock %}
            </div>
        </div>

    </div>



</body>
</html>