{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}
    <div class="grid padding50">
        <div class="row">
            <div class="colspan12">
                <h1 style="font-size: 4.5rem; line-height: 1;color: #2d3277" class="text-shadow metro-title text-light">Bienvenido!!</h1>
                <div class="padding20 sub-leader text-light" style="color: #2d3277">
                        El acceso al sistema fue todo un exito. Gracias por usar Real Trend test
                </div>
            </div>
        </div>

    </div>


{% endblock %}
