{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}
    <div class="grid padding50">
        <div class="row">
            <div class="colspan12">
                <h1 style="font-size: 4.5rem; line-height: 1;color: #2d3277" class="text-shadow metro-title text-light">Real Trend Test 1.0</h1>
                <div class="padding20 sub-leader text-light" style="color: #2d3277">
                        Desarrollo de prueba Reast API Mercado libre para Real Trend
                </div>
            </div>
        </div>
        <div class="row">
            <div class="colspan12 align-center">
                <a href="{{ url_login }}" class="command-button icon-right text-shadow metro-title text-light" style="background: #ffe600">
                    <span><img src="{% static 'img/mercadolibre2.png' %}" style="width: 75px; height: 75px;"/></span>
                    Ingresa desde tu cuenta MercadoLibre.com
                </a>
            </div>
        </div>
    </div>


{% endblock %}
